In [1]:
import pandas as pd
df = pd.read_csv('events.csv')

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2756101 entries, 0 to 2756100
Data columns (total 5 columns):
 #   Column         Dtype
---  ------         -----
 0   timestamp      int64
 1   visitorid      int64
 2   event          object
 3   itemid         int64
 4   transactionid  float64
dtypes: float64(1), int64(3), object(1)
memory usage: 105.1+ MB

In [13]:
df.isna().sum()

timestamp              0
visitorid              0
event                  0
itemid                 0
transactionid    2733644
dtype: int64

In [3]:
df.head()

       timestamp  visitorid event  itemid  transactionid
0  1433221332117     257597  view  355908            NaN
1  1433224214164     992329  view  248676            NaN
2  1433221999827     111016  view  318965            NaN
3  1433221955914     483717  view  253185            NaN
4  1433221337106     951259  view  367447            NaN

In [10]:
print(df[df['transactionid'].notnull()])

             timestamp  visitorid        event  itemid  transactionid
130      1433222276276     599528  transaction  356475         4000.0
304      1433193500981     121688  transaction   15335        11117.0
418      1433193915008     552148  transaction   81345         5444.0
814      1433176736375     102019  transaction  150318        13556.0
843      1433174518180     189384  transaction  310791         7244.0
...                ...        ...          ...     ...            ...
2755294  1438377176570    1050575  transaction   31640         8354.0
2755349  1438379878779     861299  transaction  456602         3643.0
2755508  1438357730123     855941  transaction  235771         4385.0
2755603  1438355560300     548772  transaction   29167        13872.0
2755607  1438358989163    1051054  transaction  312728        17579.0

[22457 rows x 5 columns]

In [11]:
for column in df.select_dtypes(include='object'):
    print(f"\nColumn: {column}")
    print(df[column].unique())
    print('-'*50)

Column: event
['view' 'addtocart' 'transaction']
--------------------------------------------------